Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. 
Explora les dades que conté,explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. 
Justifica la teva elecció.

Neteja el data set.

Airlines Delay: Airline on-time statistics and delay causes
Important:Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. 
Tots els exercicis s'han de fer amb aquest dataset reduït.

In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('DelayedFlights.csv')

In [34]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [35]:
df.info()  #estudiem el tipus de dades que es fa servir a cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

El fitxer compta amb 30 columnes amb diferents informacions sobre els vols. 
Les primeres columnes referents a les dates, les considero útils són el mes i dia de la setmana 

Pel que fa a l'any observem que tot el fitxer és per l'any 2008, per tant es pot treure de l'estudi

Les columnes a durada, temps de vol. He decidit quedar-me  amb el retard en la sortida i l'arribada

De les columnes referents a l'avió, ens quedem només amb la companyia UniqueCarrier

Pel que fa al lloc de sortida i arribada, em quedo només amb la distància

Pel que fa a cancelació es pot eliminar la columna de Cancelled, ja que els codis de cancelacions són 4 i un d'ells ja indica si s'ha cancelat o no.

Desviat és un binari que pot ser útil i els temps del delay per temps, seguretat etc.. també.

En conclusió reduïm el dataframe a 13 columnes: mes, dia de la setmana, companyia (uniquecarrier), arrdelay, depdelay,distance, cancellationcode,diverted,tipus de delay

In [36]:
np.unique(df["Year"])   #descartem la columna de year pq totes les dades són del 2008

array([2008], dtype=int64)

In [37]:
np.unique(df["UniqueCarrier"])

array(['9E', 'AA', 'AQ', 'AS', 'B6', 'CO', 'DL', 'EV', 'F9', 'FL', 'HA',
       'MQ', 'NW', 'OH', 'OO', 'UA', 'US', 'WN', 'XE', 'YV'], dtype=object)

In [38]:
np.unique(df["CancellationCode"])

array(['A', 'B', 'C', 'N'], dtype=object)

S'eliminen les columnes que no es consideren necessàries

In [39]:
df2=df.drop(["Year","DayofMonth","DepTime","ArrTime","CRSDepTime","ArrTime","CRSArrTime","FlightNum","TailNum","ActualElapsedTime","AirTime","Origin","Dest","TaxiIn","TaxiOut","Cancelled"],axis=1)
df2.head(5)

,Unnamed: 0,Month,DayOfWeek,UniqueCarrier,CRSElapsedTime,ArrDelay,DepDelay,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,1,4,WN,150.0,-14.0,8.0,810,N,0,NaN,NaN,NaN,NaN,NaN
1,1,1,4,WN,145.0,2.0,19.0,810,N,0,NaN,NaN,NaN,NaN,NaN
2,2,1,4,WN,90.0,14.0,8.0,515,N,0,NaN,NaN,NaN,NaN,NaN
3,4,1,4,WN,90.0,34.0,34.0,515,N,0,2.0,0.0,0.0,0.0,32.0
4,5,1,4,WN,115.0,11.0,25.0,688,N,0,NaN,NaN,NaN,NaN,NaN

In [40]:
df2.isna().sum()

Unnamed: 0                0
Month                     0
DayOfWeek                 0
UniqueCarrier             0
CRSElapsedTime          198
ArrDelay               8387
DepDelay                  0
Distance                  0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

Seleccionem 20000 files del dataframe, es fixa una llavor per treballar sempre igual (18)

In [41]:
df3=df2.sample(20000,random_state=18)
df3.shape

(20000, 15)

Exercici 2
Fes un informe complet del dataset:

Resumeix estadísticament el dataset i les columnes d’interès. 
Fes una anàlisi estadístic del que consideris rellevant.
Mostra quina és les aerolínies amb més endarreriments acumulats.
Quins són els vols més llargs?

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 373815 to 119176
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   Month              20000 non-null  int64
 2   DayOfWeek          20000 non-null  int64
 3   UniqueCarrier      20000 non-null  object
 4   CRSElapsedTime     19998 non-null  float64
 5   ArrDelay           19926 non-null  float64
 6   DepDelay           20000 non-null  float64
 7   Distance           20000 non-null  int64
 8   CancellationCode   20000 non-null  object
 9   Diverted           20000 non-null  int64
 10  CarrierDelay       12843 non-null  float64
 11  WeatherDelay       12843 non-null  float64
 12  NASDelay           12843 non-null  float64
 13  SecurityDelay      12843 non-null  float64
 14  LateAircraftDelay  12843 non-null  float64
dtypes: float64(8), int64(5), object(2)
memory usage: 2.4+ MB

In [43]:
df3.isna().sum()

Unnamed: 0              0
Month                   0
DayOfWeek               0
UniqueCarrier           0
CRSElapsedTime          2
ArrDelay               74
DepDelay                0
Distance                0
CancellationCode        0
Diverted                0
CarrierDelay         7157
WeatherDelay         7157
NASDelay             7157
SecurityDelay        7157
LateAircraftDelay    7157
dtype: int64

S'omplen els null amb el valor amb la funció mean

In [44]:
df3["CRSElapsedTime"].fillna(df3["CRSElapsedTime"].mean(),inplace=True)
df3["ArrDelay"].fillna(df3["ArrDelay"].mean(),inplace=True)
df3["CarrierDelay"].fillna(df3["CarrierDelay"].mean(),inplace=True)
df3["WeatherDelay"].fillna(df3["WeatherDelay"].mean(),inplace=True)
df3["NASDelay"].fillna(df3["NASDelay"].mean(),inplace=True)
df3["SecurityDelay"].fillna(df3["SecurityDelay"].mean(),inplace=True)
df3["LateAircraftDelay"].fillna(df3["LateAircraftDelay"].mean(),inplace=True)

In [45]:
df3.info()  # es verifica que no tenim na

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 373815 to 119176
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20000 non-null  int64
 1   Month              20000 non-null  int64
 2   DayOfWeek          20000 non-null  int64
 3   UniqueCarrier      20000 non-null  object
 4   CRSElapsedTime     20000 non-null  float64
 5   ArrDelay           20000 non-null  float64
 6   DepDelay           20000 non-null  float64
 7   Distance           20000 non-null  int64
 8   CancellationCode   20000 non-null  object
 9   Diverted           20000 non-null  int64
 10  CarrierDelay       20000 non-null  float64
 11  WeatherDelay       20000 non-null  float64
 12  NASDelay           20000 non-null  float64
 13  SecurityDelay      20000 non-null  float64
 14  LateAircraftDelay  20000 non-null  float64
dtypes: float64(8), int64(5), object(2)
memory usage: 2.4+ MB

Si mirem els valors de la columna cancel.lació. Veiem que la majoria dels vols no es van cancelar. Només 5 no van volar

In [46]:
df3["CancellationCode"].value_counts()

CancellationCode
N    19995
A        3
B        1
C        1
Name: count, dtype: int64

Mirem els que es van desviar. Es van desviar 69

In [47]:
df3["Diverted"].value_counts()

Diverted
0    19931
1       69
Name: count, dtype: int64

In [49]:
round(df3.describe(),2)  #demanem els valors estadístics de les columnes.

,Unnamed: 0,Month,DayOfWeek,CRSElapsedTime,ArrDelay,DepDelay,Distance,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00,20000.00
mean,3327263.98,6.09,3.98,133.73,41.67,42.90,761.31,0.00,19.08,3.61,14.79,0.10,25.09
std,2064928.02,3.48,1.99,70.90,55.11,51.74,570.55,0.06,33.33,16.45,26.57,1.48,33.88
min,109.00,1.00,1.00,1.00,-43.00,6.00,31.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1505783.00,3.00,2.00,82.00,9.00,12.00,340.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,3230447.50,6.00,4.00,116.00,25.00,25.00,606.00,0.00,19.08,0.00,14.79,0.00,25.09
75%,4954684.50,9.00,6.00,164.00,55.00,53.00,992.00,0.00,19.08,3.61,14.79,0.10,25.09
max,7009141.00,12.00,7.00,635.00,1170.00,1178.00,4962.00,1.00,1170.00,651.00,432.00,80.00,897.00

Amb els valors obtinguts s'observa que pel que fa als endarreriments no s'observa en una primera aproximació, que la mitjana en mesos i dies de la setmana, coincideix amb el mes de juny i dies de la setmana desplaçat cap a dijous. 
El promig de retard en l'arribada és de 41 min, tot i que pot arribar fins a 43 minuts abans o 19,5h més tard. La sortida dels avions tenen valors entre 6 minuts de retard i fins 19-20h més tard. 
Pel que fa a la distància de promig té un valor de 760km.
De vols desviats, com s'ha comentat, només s'han desviat 69 vols, és per això que de promig el valor de vols desviats és nul.
Ple que va a les causes del enderrariment, en promig el temps de retard més elevat s'associa a un endarreriment de l'avió a l'aeroport (25minuts) o associats a feines del transport (neteja de l'avió,connexió de passatgers,equipatge,catering...) la demora en promig és de 19minuts. En totes dues causes s'observen valors de dispersió molt elevats. Els valors més baixos de retards són els de seguretat (evacuació per seguretat) menys d'un minut. En general no es produeix de forma freqüent. El quartil del 75% és de 0.1minuts.

Mostra quina és les aerolínies amb més endarreriments acumulats.

Comptem el nombre de companyies

In [ ]:
companias = df3["UniqueCarrier"].value_counts() 
companias.shape

(20,)

In [ ]:
df_retrasos= pd.DataFrame(df3,columns=["UniqueCarrier","ArrDelay","DepDelay"])
df_retrasos

        UniqueCarrier  ArrDelay  DepDelay
373815             WN      12.0      20.0
1747589            WN     241.0     239.0
161363             AA      72.0      63.0
653302             DL     121.0     145.0
997216             F9      42.0      20.0
...               ...       ...       ...
248914             OO      34.0      19.0
1842585            DL      13.0       9.0
1646525            WN      29.0      19.0
927497             XE      45.0      36.0
119176             MQ      37.0      55.0

[20000 rows x 3 columns]

La companyia AA es la que acumula més retards

In [ ]:
df_retrasos.groupby("UniqueCarrier").count()

               ArrDelay  DepDelay
UniqueCarrier
9E                  536       536
AA                 1968      1968
AQ                   11        11
AS                  398       398
B6                  554       554
CO                  994       994
DL                 1192      1192
EV                  890       890
F9                  278       278
FL                  726       726
HA                   66        66
MQ                 1460      1460
NW                  823       823
OH                  537       537
OO                 1330      1330
UA                 1487      1487
US                 1027      1027
WN                 3885      3885
XE                 1151      1151
YV                  687       687

Quin és el vol més llarg
- Si es per distància

In [ ]:
df3["Distance"].max()

4962

Quin és el vol més llarg
- Si es per temps

In [ ]:
df3["CRSElapsedTime"].max()

635.0

Exercici 3
Exporta el dataset net i amb les noves columnes a Excel.

In [ ]:
df3.to_excel("RetardsVols.xlsx")

In [ ]:
df3.head()

,Unnamed: 0,Month,DayOfWeek,UniqueCarrier,CRSElapsedTime,ArrDelay,DepDelay,Distance,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
373815,1177926,3,1,WN,60.0,12.0,20.0,251,N,0,19.07545,3.611072,14.785097,0.101767,25.089621
1747589,6512525,12,3,WN,70.0,241.0,239.0,333,N,0,0.00000,0.000000,2.000000,0.000000,239.000000
161363,522830,1,2,AA,130.0,72.0,63.0,612,N,0,0.00000,0.000000,15.000000,0.000000,57.000000
653302,2105029,4,3,DL,258.0,121.0,145.0,1891,N,0,121.00000,0.000000,0.000000,0.000000,0.000000
997216,3343308,6,1,F9,107.0,42.0,20.0,602,N,0,2.00000,0.000000,39.000000,0.000000,1.000000